body {
	background-image: url(../Images/Flowers2.jpg);
	color: #6495ED;
	border: 1px solid #6495ED;
	padding:30px;
	margin: 40px;
	font-family: "Book Antiqua";
}

hr {
	border-color: #6495ED;
}

h1 {
	font-style: italic;
	text-align: center;
}

nav {
	text-align:center;
}

a{
	color:#778899;
}

h4 {
	text-align: center;
	line-height: 0.5;
}
h2 {
	text-transform: uppercase;
	font-family: 	
}

h5 {
	line-height: 0.5;
}


li {
}

footer {
	text-align:center;
}